element.style {
}


/* Image */

.user_page .header .image_header img {
    max-width: 100%;
    max-height: 1024px;
    width: auto;
    height: auto;
    display: block;
    margin: 0 auto;
}


/* Arrière-Plan */

body {
	color:  #ffffff;
	background: #3A5339; 
}


/* Langue */

#navigation {
	background: #21263F; 
}
#navigation a {
	color: #ffffff; 
}
#navigation a:hover, #navigation a:focus {
	background: #3E3D4C;
}
#navigation {
	margin-top: 50px;
	width: 18%;
	float: left; 
}
#navigation ul {
	margin: 0;
	padding: 20px 10px;
	list-style: none;
}
#navigation a {
	display: block;
	height: 1%; 
	padding: 6px 6px 25px 120px;
	line-height: 1.5;
	font-size: 1.25em;
	text-decoration: none;
}


/* Contenu */

#contenu {
	color: #3E3D4C;
	background: #21263F; 
}
#contenu a {
	color: #332510;
}
#contenu a:hover, #contenu a:focus {
	color: #3E3D4C;
}
#contenu strong {
	color: #3E3D4C;
}
#contenu {
	margin-left: 20%;
	margin-right: 20%;
	margin-top: 50px; 
	margin-bottom: 20px;
	padding: 10px 20px;
	font-size: 1.25em;
}
#contenu > :first-child {
	margin-top: 10px;
}
#contenu p, #contenu li {
	line-height: 1.5;
}


/* Description */

#description {
	color: #3E3D4C;
	background: #21263F; 
}
#description a {
	color: #332510;
}
#description a:hover, #contenu a:focus {
	color: #3E3D4C;
}
#description strong {
	color: #3E3D4C;
}
#description {
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 30px; 
	margin-bottom: 0px;
	padding: 20px 50px;
	font-size: 1.5em;
}
#description > :first-child {
	margin-top: 10px;
}
#description p, #contenu li {
	line-height: 2;
}


/* Bouton */

.stretch, .button:after, .button:before {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}    
.button {
  margin-left: 20%;
  background: #21263F;
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #21263F), color-stop(100%, #3E3D4C));
  background-image: -moz-linear-gradient(left, #21263F, #3E3D4C);
  background-image: -webkit-linear-gradient(left, #21263F, #3E3D4C);
  background-image: linear-gradient(to right, #21263F, #3E3D4C);
  -moz-border-radius: 1.5em;
  -webkit-border-radius: 1.5em;
  border-radius: 1.5em;
  -moz-transition: opacity 300ms;
  -o-transition: opacity 300ms;
  -webkit-transition: opacity 300ms;
  transition: opacity 300ms;
  border: none;
  padding: 20px;
  color: #6B7B39;
  font-weight: bold;
  letter-spacing: 0.05em;
  outline: none;
  overflow: hidden;
  position: absolute;
  cursor: pointer;
  z-index: 99;
}
.button:after {
  -moz-box-shadow: rgba(212, 207, 201, 0.75) 0 0 15px 2px;
  -webkit-box-shadow: rgba(212, 207, 201, 0.75) 0 0 15px 2px;
  box-shadow: rgba(212, 207, 201, 0.75) 0 0 15px 2px;
  background: #6B7B39;
  content: "";
  height: 2px;
  opacity: 0;
}
.button:before {
  content: "";
  opacity: 0;
}
.button:hover {
  -webkit-animation: glitch 750ms infinite;
}
.button:hover:before {
  opacity: 1;
}
.button:hover:after {
  -webkit-animation: scan 2s infinite;
  opacity: 1;
}

@-webkit-keyframes glitch {
  0% {
    -moz-transform: skewX(0deg);
    -ms-transform: skewX(0deg);
    -webkit-transform: skewX(0deg);
    transform: skewX(0deg);
  }
  5% {
    -moz-transform: skewX(2deg);
    -ms-transform: skewX(2deg);
    -webkit-transform: skewX(2deg);
    transform: skewX(2deg);
    opacity: 0.75;
  }
  10% {
    -moz-transform: skewX(0deg);
    -ms-transform: skewX(0deg);
    -webkit-transform: skewX(0deg);
    transform: skewX(0deg);
    opacity: 1;
  }
  15% {
    -moz-transform: skewX(-5deg);
    -ms-transform: skewX(-5deg);
    -webkit-transform: skewX(-5deg);
    transform: skewX(-5deg);
    opacity: 0.75;
  }
  20% {
    -moz-transform: skewX(0deg);
    -ms-transform: skewX(0deg);
    -webkit-transform: skewX(0deg);
    transform: skewX(0deg);
    opacity: 1;
  }
  45% {
    -moz-transform: skewX(3deg);
    -ms-transform: skewX(3deg);
    -webkit-transform: skewX(3deg);
    transform: skewX(3deg);
    opacity: 0.75;
  }
  50% {
    -moz-transform: skewX(0deg);
    -ms-transform: skewX(0deg);
    -webkit-transform: skewX(0deg);
    transform: skewX(0deg);
    opacity: 1;
  }
  55% {
    -moz-transform: skewX(0deg);
    -ms-transform: skewX(0deg);
    -webkit-transform: skewX(0deg);
    transform: skewX(0deg);
    opacity: 0.75;
  }
  60% {
    -moz-transform: skewX(0deg);
    -ms-transform: skewX(0deg);
    -webkit-transform: skewX(0deg);
    transform: skewX(0deg);
    opacity: 1;
  }
  75% {
    -moz-transform: skewX(2deg);
    -ms-transform: skewX(2deg);
    -webkit-transform: skewX(2deg);
    transform: skewX(2deg);
  }
  80% {
    -moz-transform: skewX(0deg);
    -ms-transform: skewX(0deg);
    -webkit-transform: skewX(0deg);
    transform: skewX(0deg);
  }
  85% {
    -moz-transform: skewX(-8deg);
    -ms-transform: skewX(-8deg);
    -webkit-transform: skewX(-8deg);
    transform: skewX(-8deg);
    opacity: 0.75;
  }
  90% {
    -moz-transform: skewX(0deg);
    -ms-transform: skewX(0deg);
    -webkit-transform: skewX(0deg);
    transform: skewX(0deg);
    opacity: 1;
  }
  100% {
    -moz-transform: skewX(0deg);
    -ms-transform: skewX(0deg);
    -webkit-transform: skewX(0deg);
    transform: skewX(0deg);
  }
}
@-webkit-keyframes scan {
  0% {
    top: 0%;
  }
  50% {
    top: 97%;
  }
  100% {
    top: 0%;
  }
}

a:link, a:visited
{
    color: white;
    text-decoration: none;
}
